{
    "discord": {
        "clientId": ""
    },
    "mqtt": {
        "host": "mqtt://127.0.0.1",
        "username": "",
        "password": ""
    },
    "plex": {
        "host": "",
        "key": "",
        "username": ""
    },
    "settings": {
        "excluded": [""]
    }
}